# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual environments / uv
.venv/

# Data & model artifacts
data/
*.pt
*.ckpt

# OS / editor
.DS_Store
.vscode/
.idea/

# Quarto website build
_site/
.quarto/

/.quarto/
**/*.quarto_ipynb
